/* General styles
-------------------------------------------------- */

/* Block scrolling */
html, body {
    overflow-x: hidden;
}

/* Padding for top static navbar */
body {
    padding-top: 70px;
    padding-bottom: 40px;
}

@media (max-width: 979px) {
  body {
      padding-top: 0px;
  }
}
